//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import "card";
@import "fonts";
@import "navigation";
@import "table";

#c55 img {
  max-width: 100%; /* Oder eine andere gewünschte Größe */
  height: auto;
}
figure img, figure picture {
  display: block;
  height: auto;
  max-width: 100%;
}
#c55 {
  display: grid;
  align-items: center; /* Vertikal mittig */
  justify-content: center; /* Horizontal mittig */
  gap: 5px; /* Weniger Abstand zwischen den Spalten */
}

.textmedia, .textpic {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #ee0000;
  border-radius: 20px;
  border: #ee0000;
}

.btn-primary:hover {
  background-color: black;
}















