//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import "card";
@import "fonts";
@import "navigation";
@import "detail";
@import "eventlist";
@import "driverstandings";
@import "login";
@import "logout";

#c55 img {
  max-width: 100%; /* Oder eine andere gewünschte Größe */
  height: auto;
}
figure img, figure picture {
  display: block;
  height: auto;
  max-width: 100%;
}
#c55 {
  display: grid;
  align-items: center; /* Vertikal mittig */
  justify-content: center; /* Horizontal mittig */
  gap: 5px; /* Weniger Abstand zwischen den Spalten */
}

.textmedia, .textpic {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #ee0000;
  border-radius: 20px;
  border: #ee0000;
}

.btn-primary:hover {
  background-color: black;
}
.header-language {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-language {
  text-align: center;
}

  .header-language {
    display: none; /* Versteckt die Header-Sprachauswahl bei kleinen Bildschirmen */
    border:blue;
  }

  .footer-language {
    display: block; /* Zeigt die Sprachauswahl in der Navigation */
  }


















